.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}
.delete-form {
    display: inline;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
#sizing {
    width: 30%;
    margin: 0 auto;
}